name: komodo

services:
  mongo:
    image: mongo:8.2.3
    command: --quiet --wiredTigerCacheSizeGB 0.25
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${KOMODO_DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${KOMODO_DB_PASSWORD}
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    restart: unless-stopped

  core:
    image: ghcr.io/moghtech/komodo-core:1.19.5
    depends_on:
      - mongo
    ports:
      - "9120:9120"
    env_file: ./.env
    environment:
      KOMODO_DATABASE_ADDRESS: mongo:27017
      KOMODO_DATABASE_USERNAME: ${KOMODO_DB_USERNAME}
      KOMODO_DATABASE_PASSWORD: ${KOMODO_DB_PASSWORD}
    volumes:
      - komodo-backups:/backups
    labels:
      komodo.skip:
      pangolin.proxy-resources.komodo.name: Komodo
      pangolin.proxy-resources.komodo.protocol: http
      pangolin.proxy-resources.komodo.full-domain: komodo.ryanmalonzo.com
      pangolin.proxy-resources.komodo.auth.sso-enabled: true
      pangolin.proxy-resources.komodo.targets[0].hostname: 192.168.1.253
      pangolin.proxy-resources.komodo.targets[0].method: http
    restart: unless-stopped

  periphery:
    image: ghcr.io/moghtech/komodo-periphery:1.19.5
    env_file: ./.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/proc
      - /etc/komodo:/etc/komodo
    labels:
      komodo.skip:
    restart: unless-stopped

volumes:
  komodo-backups:
  mongo-data:
  mongo-config:
