KOMODO_DB_USERNAME=chaldea
KOMODO_DB_PASSWORD={{ lookup('env', 'KOMODO_DB_PASSWORD') }}

KOMODO_PASSKEY={{ lookup('env', 'KOMODO_PASSKEY') }}

TZ={{ timezone | default('Europe/Paris') }}

# core

KOMODO_HOST=https://komodo.ryanmalonzo.com

KOMODO_TITLE=Komodo

KOMODO_FIRST_SERVER=https://periphery:8120
KOMODO_FIRST_SERVER_NAME=Local

KOMODO_DISABLE_CONFIRM_DIALOG=true

KOMODO_MONITORING_INTERVAL="15-sec"

KOMODO_RESOURCE_POLL_INTERVAL="1-hr"

KOMODO_WEBHOOK_SECRET={{ lookup('env', 'KOMODO_WEBHOOK_SECRET') }}

KOMODO_JWT_SECRET={{ lookup('env', 'KOMODO_JWT_SECRET') }}

KOMODO_JWT_TTL="1-day"

KOMODO_LOCAL_AUTH=true

KOMODO_INIT_ADMIN_USERNAME=chaldea
KOMODO_INIT_ADMIN_PASSWORD={{ lookup('env', 'KOMODO_ADMIN_PASSWORD') }}

KOMODO_DISABLE_USER_REGISTRATION=true

KOMODO_ENABLE_NEW_USERS=false

KOMODO_DISABLE_NON_ADMIN_CREATE=true

KOMODO_TRANSPARENT_MODE=false

KOMODO_LOGGING_PRETTY=true

KOMODO_PRETTY_STARTUP_CONFIG=true

KOMODO_OIDC_ENABLED=false

KOMODO_GITHUB_OAUTH_ENABLED=false

KOMODO_GOOGLE_OAUTH_ENABLED=false

# periphery

PERIPHERY_ROOT_DIRECTORY=/etc/komodo

PERIPHERY_PASSKEYS=${KOMODO_PASSKEY}

PERIPHERY_DISABLE_TERMINALS=false

PERIPHERY_SSL_ENABLED=true

PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname

PERIPHERY_LOGGING_PRETTY=true

PERIPHERY_PRETTY_STARTUP_CONFIG=true
